<?xml version="1.0" encoding="utf-8"?>
<!-- 
Nuget does NOT allow us to block it reading global machine and user settings. 
This is extremely unsafe and unreliable for large builds or for larger teams because any thing you install on your devbox can affect the build behavior. Build behaviors should be identical accross all develeoprs and all machines that execute builds unless explicilty specified in the build. 
Clearing all nuget settings.
Each time a new nuget version is updated we must make sure that any configuration is removed to get a standard set of config values.
-->
<configuration>
    <config>
        <clear />
    </config>
    <activePackageSource>
        <clear />
    </activePackageSource>
    <packageSources>
        <clear />
    </packageSources>
    <disabledPackageSources>
        <clear />
    </disabledPackageSources>
    <bindingRedirects>
        <clear />
    </bindingRedirects>
    <packageRestore>
        <clear />
    </packageRestore>
    <solution>
        <clear />
    </solution>
    <packageSourceCredentials>
        <clear />
    </packageSourceCredentials>
    <apikeys>
        <clear />
    </apikeys>
    <activePackageSource>
        <clear />
    </activePackageSource>
</configuration>