<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- The estimated duration in seconds of an end to end build, input and output hashing will be adjusted to match this approximately -->
    <add key="duration" value="180"/> <!-- Seconds -->
    <add key="verbose" value="false" />
    <add key="logging" value="false" />
    <add key="worker_count" value="5" />
    <!-- The observer_pattern specifies a filter for the output directory observation -->
    <add key="observer_pattern" value="*" />
    <!--  The estimated MD5 file hashes per second estimated by the benchmark run 'iosimulator benchmark inputs.txt', don't edit this manually!-->
    <add key="rate" value="200"/>
    <!--  The percentage of input files used to run the benchmark on -->
    <add key="sample_percentage" value="10"/>
  </appSettings>
</configuration>