<?xml version="1.0"?>
<RuleSet Name="Disabled Rules"
         ToolsVersion="15.0">

  <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.NetAnalyzers">
    <Rule Id="CA1401" Action="None" />           <!-- P/Invokes should not be visible -->
    <Rule Id="CA2219" Action="None" />           <!-- Do not raise exceptions in finally clauses -->
  </Rules>
</RuleSet>