<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="tracerSettings" type="Microsoft.VisualStudio.Services.ArtifactServices.App.Shared.Tracing.TraceListenerConfigurationSection, Microsoft.VisualStudio.Services.ArtifactServices.App.Shared" />
  </configSections>

  <tracerSettings>
    <!--
      Valid TraceLevel values: info|warn|error|fatal|verbose, and other System.Diagnostics.SourceLevels values
      Valid TraceListener values: type="console|file" file="[File path]"; 'file' only applies if Type is file, and if empty defaults to %TEMP%\[appname]_[timestamp].log
    -->
    <traceLevel value="Info" />
    <listeners>
      <add type="console" />
    </listeners>
  </tracerSettings>

  <appSettings>
    <add key="defaultServiceLocation" value="" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Microsoft.AspNet.WebApi.Core.5.2.2\lib\net45;Microsoft.AspNet.WebApi.Client.5.2.2\lib\net45" />
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Diagnostics.Tracing.EventSource" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.16.0" newVersion="1.1.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ContentStoreInterfaces" publicKeyToken="1055fbdf2d8b69e0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1250.0.0" newVersion="15.1280.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.3.0" newVersion="4.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.1.0" newVersion="4.5.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!--  turn off the default opening of a dialog for Debug.Fail.  We are sure to handle all exceptions in the
  app and operations so it is just confusing noise to the user -->
  <system.diagnostics>
    <trace>
      <listeners>
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
